.quiz-add-modal{
    padding: $p-20px;

    &__header-wrapper{
        @include flex();
        @include flexDirection(row);
        @include justifyContent(space-between);
    }

    &__title-wrapper{
        @include flex();
        @include flexDirection(row);
        @include justifyContent(start);
        align-items: center;
    }

    &__main-title{
        font-size: $fs-23px!important;
        line-height: $h-29px!important;
        letter-spacing: 0em;
        color: $c-black;
    }

    &__back-icon{ 
        margin-right: $m-20px;
        cursor: pointer;
    }

    &__content-wrapper{
        @include flex();
        @include flexDirection(row);
        @include justifyContent(space-between);
        margin-top: $m-3per;

        .left-part{
            flex-basis: $fbs-48;
            @include flex();
            @include flexDirection(column);
            @include justifyContent(start);

            &__quiz-title{
                font-size: 0.9375rem;
                font-style: normal;
                line-height: normal;
                padding: 0 0 $p-2per 0;
            }
    
            &__title-input{
                width: $w-100per;

                fieldset{
                    border-color: $c-main;
                }
            }

            &__select{
                width: $w-100per;
            
                fieldset{
                    border-color: $c-main;
                }
            
                svg{
                    color: $c-main;
                }
            }
        }

        .right-part{
            flex-basis: $fbs-48;
            @include flex();
            @include flexDirection(column);
            @include justifyContent(start);

            &__button-wrapper{
                @include flex();
                @include justifyContent(center);
                margin-top: $m-20px;
            }
        }
    }
}

.sub-title{
    text-align: center;
}

.margin-bottom{
    margin-bottom: $m-5per;
}

.margin-top{
    margin-top: $m-3per;
}

.label{
    color: $c-label;
}

.symbol,
.box-label{
    color: $c-main;
}

.show-answers__label{
    color: $c-black;
}

.add-questions-modal__modal-wrapper{
    @include flex();
    @include justifyContent(center);
    align-items: center;
    align-content: center;
}

.add-questions-modal{
    width: $w-500px;
    padding: $p-20px;

    &__header-wrapper{
        @include flex();
        @include flexDirection(row);
        @include justifyContent(space-between);
        align-items: center;
    }

    &__close-icon{
        width: $w-30px!important;
        height: $h-30px!important;
        color: $c-main;
        cursor: pointer;
    }

    &__main-title{
        font-size: $fs-23px!important;
        line-height: $h-29px!important;
        letter-spacing: 0em;
        color: $c-black;
    }

    &__content-wrapper{
        margin-top: $p-20px;
        @include flex();
        @include flexDirection(column);
        @include justifyContent(space-between);
    }

    &__title-input{
        width: $w-100per;

        fieldset{
            border-color: $c-main;
        }
    }

    &__type-wrapper{
        margin-top: $m-20px;
    }

    &__select{
        width: $w-100per;
    
        fieldset{
            border-color: $c-main;
        }
    
        svg{
            color: $c-main;
        }
    }

    &__button-wrapper{
        margin-top: $m-20px;
        @include flex();
        @include justifyContent(center);
    }

    &__quiz-title{
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: $fw-400;
        line-height: normal;
        padding: 0 0 $p-2per 0;
    }
}

.question-box{
    margin-top: $m-20px;
    padding: $p-20px;
    border-radius: $br-8px;
    background-color: $c-light-menu-hover;
    @include flex();
    @include flexDirection(row);
    @include justifyContent(space-between);
    align-items: center;
    align-content: center;

    &__main-wrapper{
        flex-basis: $fbs-70;
        @include flex();
        @include flexDirection(column);
        @include justifyContent(space-between);
    }

    &__button-wrapper{
        flex-basis: $fbs-25;
        @include flex();
        @include flexDirection(row);
        @include justifyContent(space-between);
    }

    &__content{
        margin-left: $m-20px!important;
        color: $c-black;
    }

    &__icon{
        width: $w-25px!important;
        height: $h-25px!important;
        cursor: pointer;
    }
}