._add-quiz-question {
  &__container {
    padding: 8px 0px;
  }

  &__inputs-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__single {
    display: grid;
    gap: 8px;
  }

  &__dnd-container {
    display: flex;
    width: 100%;
    margin-right: 58px;
    gap: 8px;
  }

  &__multiple {
    display: grid;
    // grid-template-columns: 1fr 5fr 1fr 1fr 5fr 1fr;
    gap: 8px;
  }

  &__secondary {
    @include flex();
    @include justifyContent(end);
  }

  &__input {
    flex-basis: 90%;
    fieldset {
      border-color: $c-main;
    }
  }

  &__correct {
    fieldset {
      border-color: lime;
    }
  }

  &__listitem {
    width: 100%;
    padding: 8px 0px;
  }
}

.multiple-input{
  flex-basis: 80%;
}
