.empty-table{
    &__main-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: calc(100% - 84px);
    }

    &__header{
        font-family: Readex Pro,sans-serif;
        font-weight: 300;
        font-size: 1.4375rem !important;
    }

    &__icon{
        width: 500px;
        margin-top: 20px;
    }
}