.logo{
    &__root{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;

        .logo-root__wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__icon{
        height: 42;
    }
}

.logo__header{
    margin-top: 30%;
}

.logo-header__first-letter{
    color: #6062FF;
}