.notification{
    &__root {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 1%;
        align-items: center;
        width: 700px;
        min-height: 40px;
        background: white;
        color: black;
        border: 1px solid #F0F0FF;
        border-radius: 8px;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
    }

    &__content {
        flex-basis: 80%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    &__header {
        font-weight: 600!important;
        font-size: 0.8125rem!important;
        font-style: normal!important;
        line-height: 150%!important;
        
    }

    &__message {
        font-size: 0.8125rem!important;
        font-style: normal!important;
        font-weight: 400!important;
        line-height: 150%!important;
    }

    &__close-icon {
        flex-basis: 20%;
        display: flex;
        justify-content: end;
        color: #6062FF;
        cursor: pointer;
    }
}

.info {
    border: 1px solid #6062FF;
}

.success {
    background-color: #D8FFE5;
}

.error {
    background-color: #FFD8E4;
}