.dashboard {
  &__root {
    padding: 16px;
    max-height: 96vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
