.top-menu{
    &__title{
        font-size: pxToRem(23)!important;
        font-weight: $fw-500;
        line-height: pxToRem(29)!important;
        letter-spacing: 0;
        text-align: left;
        color: $c-black;
    }

    &__button{
        max-width: $w-200px;
    }
}