.top-menu{
    &__title{
        font-size: 23px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: black;
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: baseline;
        padding: 10px 3%;
    }

    &__button{
        max-width: 200px;
    }
}